<template>
  <div class="q-pa-md">
    <q-breadcrumbs>
      <template v-slot:separator>
        <q-icon size="1.5em" name="chevron_right" color="primary" />
      </template>
      <q-breadcrumbs-el to="/" label="Dobsonlight" />
      <q-breadcrumbs-el :label="$route.params.category" />
    </q-breadcrumbs>
    <div class="row justify-start" v-if="products.length > 0">
      <div
        class="col-xs-6 col-sm-6 col-md-3 col-xl-2 q-pa-sm"
        v-for="product in products"
        :key="product.id"
      >
        <product-card :product="product">
          <q-btn icon="mdi-dots-vertical" flat color="primary">
            <q-menu>
              <q-list style="min-width: 100px">
                <q-item clickable @click="setForEdit(product)" v-close-popup>
                  <q-item-section>Edit</q-item-section>
                </q-item>
                <q-separator />

                <q-item
                  clickable
                  @click="
                    deleteProduct({
                      id: product.id,
                      category: product.category
                    })
                  "
                  v-close-popup
                >
                  <q-item-section>Delete</q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
        </product-card>
      </div>
    </div>
    <div v-else>
      <div class="row justify-start">
        <div
          class="col-xs-6 col-sm-6 col-md-3 col-xl-2 q-pa-sm"
          v-for="fakeProduct in 8"
          :key="fakeProduct"
        >
          <q-card>
            <q-skeleton height="200px" square />
            <q-card-section>
              <q-skeleton type="text" width="60%" animation="fade" />
            </q-card-section>
            <q-card-section class="q-pt-none">
              <q-skeleton type="text" animation="fade" />
              <q-skeleton
                type="text"
                :width="Math.floor(Math.random() * 95) + '%'"
                animation="fade"
              />
            </q-card-section>
            <q-separator v-if="$store.state.auth.isAuthenticated" />

            <q-card-actions
              align="right"
              v-if="$store.state.auth.isAuthenticated"
            >
              <q-btn icon="mdi-dots-vertical" flat color="primary" />
            </q-card-actions>
          </q-card>
        </div>
      </div>
    </div>
    <whatsapp-chat />
    <q-dialog v-model="editProductDialog">
      <q-card>
        <q-card-section>
          <edit-product :product="editProduct"></edit-product>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  components: {
    productCard: () => import("components/ProductCard"),
    editProduct: () => import("components/CreateOrEditProduct"),
    whatsappChat: () => import("components/WhatsAppChat")
  },
  data() {
    return {
      editProduct: {},
      editProductDialog: false,
      products: []
    };
  },
  computed: {
    /**
     * @returns {Array} - An arry containing objects of products
     */
    // products() {
    //   return (
    //     this.$store.state.product.categories[this.$route.params.category] || []
    //   );
    // }
  },
  methods: {
    getProducts() {
      this.$store
        .dispatch("product/getProductsInCategory", this.$route.params.category)
        .then(() => {
          this.products = this.$store.state.product.categories[
            this.$route.params.category ? this.$route.params.category : ""
          ];
        });
    },
    setForEdit(product) {
      this.editProductDialog = true;
      this.editProduct = product;
    },
    deleteProduct(product) {
      this.$store.dispatch("product/deleteProduct", product);
    }
  },
  created() {
    this.getProducts();
  },
  watch: {
    $route(to, from) {
      if (to.name == "products") {
        this.products = [];
        this.getProducts();
      }
    }
  }
};
</script>
