<template>
  <q-page>
    <div class ref="home">
      <q-carousel
        arrows
        animated
        infinite
        swipeable
        autoplay
        transition-prev="slide-right"
        transition-next="slide-left"
        v-model="slide"
        height="500px"
      >
        <q-carousel-slide name="first" img-src="statics/one.jpg">
          <div class="absolute-center full-width full-height custom-caption">
            <div class="absolute-center full-width">
              <div :class="$q.screen.lt.md ? 'text-h4' : 'text-h2 text-bold'">
                DOBSON INTEGRATED RESOURCE LIMITED
              </div>
              <div
                class="text-weight-"
                :class="$q.screen.lt.md ? 'text-h6' : 'text-h5'"
              >
                <div class="text-weight- 'text-h5'">
                  Dobson Integrated is a fast growing electrical company in West
                  Africa. We have consistently grown with significant input in
                  the electrical industry. We have affiliation with private and
                  government organizations.
                </div>
              </div>
            </div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="second" img-src="statics/two.jpg">
          <div class="absolute-center full-width full-height custom-caption">
            <div class="absolute-center full-width">
              <div :class="$q.screen.lt.md ? 'text-h4' : 'text-h2 text-bold'">
                DOBSON INTEGRATED RESOURCE LIMITED
              </div>
              <div
                class="text-weight-light"
                :class="$q.screen.lt.md ? 'text-h6' : 'text-h5'"
              >
                <div class="text-weight- 'text-h5'">
                  Dobson Integrated is a fast growing electrical company in West
                  Africa. We have consistently grown with significant input in
                  the electrical industry. We have affiliation with private and
                  government organizations.
                </div>
              </div>
            </div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="third" img-src="statics/three.png">
          <div class="absolute-center full-width full-height custom-caption">
            <div class="absolute-center full-width">
              <div :class="$q.screen.lt.md ? 'text-h4' : 'text-h2 text-bold'">
                DOBSON INTEGRATED RESOURCE LIMITED
              </div>
              <div
                class="text-weight-light"
                :class="$q.screen.lt.md ? 'text-h6' : 'text-h5'"
              >
                <div class="text-weight- 'text-h5'">
                  Dobson Integrated is a fast growing electrical company in West
                  Africa. We have consistently grown with significant input in
                  the electrical industry. We have affiliation with private and
                  government organizations.
                </div>
              </div>
            </div>
          </div>
        </q-carousel-slide>
      </q-carousel>
    </div>

    <!-- Using row and col to make a container to center the page on big screens -->
    <div class="row">
      <div class="col-xs-12 col-md"></div>
      <div class="col-xs-12 col-md-10">
        <!-- Work on -->
        <section class="q-py-lg">
          <div class="text-h5 text-bold text-center q-px-md q-pt-sm">OUR VALUES</div>
          <br />
          <br />
          <div class="row justify-center align-items-center">
            <div
              v-for="({ title, icon }, i) of values"
              :key="i"
              class="col-xs-6 col-sm-6 col-md-3 q-pa-lg"
            >
              <q-card>
                <q-card-section>
                  <q-icon
                    style="font-size: 5em;"
                    color="primary"
                    :name="icon"
                  />
                  <h6>{{ title }}</h6>
                </q-card-section>
              </q-card>
            </div>
          </div>
        </section>
        <!-- work up-->
        <!-- Brand Section start-->
        <section ref="brand" id="brand" class="q-py-lg">
          <div class="text-h5 text-bold text-center q-px-md q-pt-sm">BRANDS</div>
          <div class="row">
            <div
              v-for="({ img }, i) of clients"
              :key="i"
              class="col-xs-6 col-sm-6 col-md-3 q-pa-sm"
            >
              <q-card class="my-card">
                <q-img
                  contain
                  :src="`statics/brands/${img}`"
                  style="width:100%; height:100%;"
                />
              </q-card>
            </div>
          </div>
        </section>
        <!-- Brand Section ends -->

        <!-- Client section start -->
        <section ref="client" id="client" class="q-py-lg">
          <div class="text-h5 text-bold text-center q-px-md q-pt-sm">CLIENTS</div>
          <div class="row justify-center">
            <div
              v-for="({ img }, i) of brands"
              :key="i"
              class="col-xs-6 col-sm-6 col-md-3 q-pa-sm"
            >
              <q-card class="my-card">
                <q-img
                  contain
                  class="col"
                  :src="`statics/clients/${img}`"
                  style="width:100%; height:100%;"
                />
              </q-card>
            </div>
          </div>
        </section>
        <!-- Client section ends -->
        <!-- ------------------------ -->
      </div>
      <div class="col-xs-12 col-md"></div>
    </div>
    <!-- contact section start -->
    <section ref="contact" id="contact" class="contact">
      <contact-form />
    </section>
    <!-- contact section end -->
  </q-page>
</template>

<script>
import { scroll } from "quasar";
const { getScrollTarget, setScrollPosition } = scroll;
export default {
  components: {
    contactForm: () => import("components/Contact-Form")
  },
  data() {
    return {
      slide: "first",
      values: /** string[] */ Array(
        { title: "Customer focus", icon: "mdi-account-heart" },
        {
          title: "Integrity",
          icon: "mdi-certificate"
        },
        {
          title: "Excellence",
          icon: "mdi-medal"
        },
        {
          title: "Reliability",
          icon: "mdi-meditation"
        },
        {
          title: "Respect",
          icon: "mdi-memory"
        },

        {
          title: "Outstanding",
          icon: "mdi-ship-wheel"
        }
      ),
      clients: /** string[{ img: any }] */ Array(
        { img: "abb.png" },
        { img: "legrand.png" },
        { img: "ge.png" },
        { img: "sylvania.jpeg" },
        { img: "philips.png" },
        { img: "fsl.png" },
        { img: "vtac.jpg" },
        { img: "osram.png" }
      ),
      brands: [
        { img: "mma2.jpg" },
        { img: "eko.jpg" },
        { img: "mainone.png" },
        { img: "dc.jpg" },
        { img: "villa.png" },
        { img: "intech.png" },
        { img: "qx site logo.png" },
        { img: "printivo.png" }
      ]
    };
  },
  methods: {
    scrollToElement(el) {
      const target = getScrollTarget(this.$refs[el]);
      const offset = this.$refs[el].offsetTop;
      const duration = 1000;
      setScrollPosition(target, offset, duration);
    }
  },
  created() {
    this.$root.$on("scrollToElement", this.scrollToElement);
  },
  beforeDestroy() {
    // Don't forget to turn the listener off before your component is destroyed
    this.$root.$off("scrollToElement", this.scrollToElement);
  }
};
</script>

<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, 0.5)
.my-card
  padding: 10px
  height: 200px
  width: 100%
.contact
  background-color: $grey-2
  border-top: 1px solid $grey-3
.landing__feature-item
  box-sizing: border-box
  direction: ltr
  display: block
  font-size: 14px
  text-align: center
  text-size-adjust: 100%
  line-height: 21px
  width: 55px

.material-icons q-icon notranslate
</style>
