<template>
  <div>
    <div id="contact_us">
      <q-form ref="contactForm" @submit.prevent="submiteForm">
        <div class="row justify-around text-center q-py-lg">
          <div class="col-xs-12 col-md-5 q-pa-sm">
            <h4 class="text-h3 text-weight-light q-my-sm">Get in touch</h4>
            <p class="text-h6 text-weight-light">
              Have a question for us? Maybe some feedback? We love talking to
              users about {{ appName }}, and we're happy to answer questions
              about our products, brand, or business solutions. Send us a note
              and we'll get back to you as soon as possible.
            </p>
            <p class="text-h6 text-weight-light">
              Address: Block 13, Shop 41 Electrical Section Alaba Int'l Market,
              Ojo, Lagos State.<br />
              Telephone: +234 7037862453 | +234 8106413632 | +234 8082380983<br />
              Email: dobsonlighting@gmail.com or dominionglobalinvest@gmail.com
            </p>
            <div class="q-pa-sm q-gutter-md">
              <q-btn
                target="_blank"
                round
                type="a"
                href="www.twitter.com/dobsonlighting"
                glossy
                icon="fab fa-twitter"
              />
              <q-btn
                target="_blank"
                round
                type="a"
                href="https://facebook.com/Dobson-Intergrated-2979584038733642/?ref=bookmarks"
                glossy
                icon="fab fa-facebook"
              />
              <q-btn
                round
                type="a"
                href="mailto:dobsonlighting@gmail.com"
                glossy
                icon="email"
              />
              <q-btn
                target="_blank"
                round
                type="a"
                href="https://instagram.com/dobsonlighting?igshid=1qngnn31grepx"
                glossy
                icon="fab fa-instagram"
              />
              <q-btn
                target="_blank"
                round
                type="a"
                href="https://pin.it/6Toa6T1"
                glossy
                icon="fab fa-pinterest"
              />
            </div>
          </div>
          <div class="col-xs-12 col-md-4 q-pa-sm">
            <div class="row q-py-md">
              <!-- col formarts should be xs sm md lg xl in order -->
              <div class="col-xs-12 q-pb-md">
                <q-input
                  :dense="$q.screen.lt.md"
                  v-model.trim="fullName"
                  name="name"
                  bg-color="white"
                  lazy-rules="ondemand"
                  outlined
                  :rules="[
                    val => (val && val.length > 0) || 'Full name is required'
                  ]"
                  label="Full Name"
                >
                  <template v-slot:append>
                    <q-icon name="list" color="primary" />
                  </template>
                </q-input>
              </div>
              <div class="col-xs-12 q-pb-md">
                <q-input
                  v-model.trim="emailAddressOrPhoneNumber"
                  :dense="$q.screen.lt.md"
                  bg-color="white"
                  lazy-rules="ondemand"
                  :rules="[
                    val =>
                      (val && val.length > 0) || 'Email Address is required'
                  ]"
                  outlined
                  label="Email Address Or Phone Number"
                >
                  <template v-slot:append>
                    <q-icon name="email" color="primary" />
                  </template>
                </q-input>
              </div>
              <div class="col-xs-12 q-pb-md">
                <q-input
                  v-model.trim="message"
                  :dense="$q.screen.lt.md"
                  name="message"
                  :rules="[
                    val =>
                      (val && val.length > 0) ||
                      'Please write us a short message'
                  ]"
                  class
                  type="textarea"
                  lazy-rules="ondemand"
                  bg-color="white"
                  outlined
                  label="Your Message *"
                >
                  <template v-slot:append>
                    <q-icon name="comment" color="primary" />
                  </template>
                </q-input>
              </div>
            </div>
            <div class="col-xs-12 q-pb-md">
              <q-btn
                type="submit"
                no-caps
                :loading="loading"
                :disable="loading"
                color="primary"
                class="full-width"
                label="Send Message"
              />
            </div>
          </div>
        </div>
        <div class="col col-md-2"></div>
      </q-form>
    </div>
  </div>
</template>
<script>
import emailjs from "emailjs-com";

export default {
  data() {
    return {
      fullName: "",
      emailAddressOrPhoneNumber: "",
      message: "",
      loading: false,
      appName: "Dobsonlight"
    };
  },
  methods: {
    submiteForm(e) {
      this.$refs.contactForm.validate().then(success => {
        if (success) {
          this.loading = true;
          emailjs
            .sendForm(
              "gmail",
              "template_jUhykeLw",
              e.target,
              "user_CwFK1a65jtqszNxC5RtKG"
            )
            .then(
              result => {
                this.$fb
                  .firestore()
                  .collection("messages")
                  .add({
                    fullName: this.fullName,
                    emailAddressOrPhoneNumber: this.emailAddressOrPhoneNumber,
                    message: this.message
                  })
                  .then(data => {
                    this.loading = false;
                    this.$q.notify({
                      message: "Sent Successfully",
                      color: "green"
                    });
                  })
                  .catch(err => {
                    this.$q.notify({
                      message: "An Error Occured",
                      color: "red"
                    });
                  });
                //
              },
              error => {
                this.loading = false;
                this.$q.notify({
                  message: "An Error Occured",
                  color: "red"
                });
              }
            );
        }
      });
    }
  },
  mounted() {
    if (this.$q.localStorage.has("dobson")) {
      var user = this.$q.localStorage.getItem("dobson");
      this.fullName = user.fullName;
      this.emailAddressOrPhoneNumber = user.emailAddressOrPhoneNumber;
    }
  }
};
</script>
