<template>
  <div class="row">
    <div class="col-xs-12 q-pb-md">
      <q-input
        required
        v-model="title"
        name="name"
        bg-color="white"
        outlined
        placeholder="Title *"
      ></q-input>
    </div>

    <div class="col-xs-12 q-pb-md">
      <!-- <input type="file" @change="addedACover" accept="image/*" > -->

      <q-uploader
        v-if="!product"
        label="Product Image"
        color="teal"
        class="full-width"
        ref="cover"
        flat
        @added="addedACover"
        bordered
      />
    </div>
    <div class="col-xs-12 q-pb-md">
      <q-select
        outlined
        v-model="category"
        :options="categories"
        label="Filled"
      />
    </div>
    <div class="col-xs-12 q-pb-md">
      <q-input
        required
        type="text-area"
        v-model="description"
        name="name"
        bg-color="white"
        outlined
        placeholder="Description"
      ></q-input>
    </div>
    <div class="col-xs-12 q-pb-md">
      <q-btn
        color="primary"
        :loading="loading"
        class="full-width"
        v-if="!product"
        @click="createProd()"
        >Upload Product</q-btn
      >
      <q-btn
        v-else
        color="primary"
        :loading="loading"
        class="full-width"
        @click="editThisProduct()"
        >Edit Product</q-btn
      >
    </div>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  props: {
    product: {
      type: Object
    }
  },
  data() {
    return {
      id: this.product ? this.product.id : null,
      title: this.product ? this.product.title : null,
      image: "",
      description: this.product ? this.product.description : null,
      category: this.product ? this.product.category : null,
      categories: [
        "Osram",
        "VTAC",
        "Philips",
        "Sylvania",
        "ABB",
        "Cable",
        "China",
        "FSL",
        "GE",
        "Legrand"
      ],
      uploadRate: null,
      loading: false
    };
  },
  methods: {
    ...mapActions("product", ["createProduct", "editProduct"]),
    createProd() {
      this.loading = true;
      this.createProduct({
        title: this.title,
        cover: this.image,
        category: this.category,
        description: this.description
        // createdAt:
      })
        .then(rate => {
          this.loading = false;
          this.title = null;
          this.description = null;
          this.$refs.cover.reset();
        })
        .catch(err => {
          this.loading = false;
        });
    },
    editThisProduct() {
      this.loading = true;
      this.editProduct({
        id: this.id,
        title: this.title,
        cover: this.image,
        category: this.category,
        description: this.description
      })
        .then(rate => {
          this.loading = false;
        })
        .catch(err => {
          this.loading = false;
        });
    },
    addedACover(files) {
      this.image = files[0];
    }
  }
};
</script>
