<template>
  <q-header>
    <q-toolbar>
      <q-toolbar-title>
        <router-link to="/">
          <q-icon
            name="mdi-lightbulb-on-outline"
            color="white"
            class="q-mx-md"
          />
        </router-link>
        <q-btn
          v-if="$q.screen.lt.md && this.$route.params.category"
          @click="$router.back()"
          flat
          icon="keyboard_arrow_left"
          color="white"
          round
        />

        <!-- <q-img src="statics/logo.png" style="width:70px"></q-img> -->
      </q-toolbar-title>

      <!-- the gt-sm is a quasar custom css class for showing somthing for big screens from md---xl -->
      <!-- read more ( https://quasar.dev/style/visibility ) -->
      <div class="gt-xs">
        <q-btn
          flat
          label="HOME"
          @click="scrollTo('home')"
          class="q-mr-sm"
        ></q-btn>
        <q-btn
          flat
          label="BRANDS"
          @click="scrollTo('brand')"
          class="q-mr-sm"
        ></q-btn>
        <q-btn
          flat
          label="PRODUCTS"
          @click="$router.push('/products/Osram')"
          class="q-mr-sm"
        ></q-btn>
        <q-btn
          flat
          label="CLIENTS"
          @click="scrollTo('client')"
          class="q-mr-sm"
        ></q-btn>
        <q-btn
          flat
          label="CONTACT"
          @click="scrollTo('contact')"
          class="q-mr-sm"
        ></q-btn>
      </div>
      <div class="lt-sm">
        <div class="q-gutter-sm" v-if="this.$route.path == '/home'">
          <q-btn
            color="white"
            icon="mdi-home-outline"
            round
            @click="scrollTo('home')"
            flat
          />
          <q-btn
            color="white"
            icon="mdi-rhombus-split"
            round
            @click="scrollTo('brand')"
            flat
          />
          <q-btn
            color="white"
            icon="mdi-bulletin-board"
            round
            @click="$router.push('/products/Osram')"
            flat
          />
          <q-btn
            color="white"
            icon="mdi-account-group-outline"
            round
            @click="scrollTo('client')"
            flat
          />
          <q-btn
            color="white"
            icon="mdi-email-outline"
            @click="scrollTo('contact')"
            round
            flat
          />
        </div>
        <div v-else class="text-h6">
          {{ this.$route.params.category }}
        </div>
      </div>
    </q-toolbar>
  </q-header>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {
    scrollTo(el) {
      if (this.$route.path == "/" || this.$route.path == "/home") {
        this.$root.$emit("scrollToElement", el);
      } else {
        if (el != "home") {
          this.$router.push(`/#${el}`);
        } else {
          this.$router.push(`/`);
        }
      }
    }
  },
  mounted() {
    // console.log(this.$route.params.category);
  }
};
</script>
