<template>
  <q-card class="my-card" v-if="product">
    <!-- product image -->
    <q-img style="height:200px;width:100%" :src="product.image" />

    <q-card-section>
      <div class="row no-wrap items-center">
        <div class="col text-h6 ellipsis">
          <!-- product title -->

          {{ product.title }}
        </div>
      </div>
    </q-card-section>

    <q-card-section class="q-pt-none">
      <div class="text-caption text-grey">
        <!-- product description -->
        {{ product.description }}
      </div>
    </q-card-section>

    <q-separator v-if="$store.state.auth.isAuthenticated" />

    <q-card-actions align="right">
      <!-- <q-btn flat color="positive">
      --- product price ---
      --- 8358 the Ascii code for naira ---
      {{ String.fromCharCode(8358) }}{{ product.price }}
      </q-btn> -->
      <slot v-if="$store.state.auth.isAuthenticated"></slot>
    </q-card-actions>
  </q-card>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data() {
    return {};
  },
  methods: {}
};
</script>
