// app global css in SCSS form
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf");
}

body {
  font-family: Quicksand;
}

.primary-border {
  border-color: $primary;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}

.q-card {
  border-radius: 20px;
  vertical-align: top;
  box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83),
    6px 6px 16px 0 rgba(217, 219, 200, 0.51);
}
