<template>
  <q-layout view="hHh LpR fff" class="bg-white">
    <header-nav />
    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer>
      <q-toolbar>
        <q-space />
        <q-img src="statics/logo.png" style="width:70px"></q-img> Lighting your
        world in a whole new way.<br />
        Designed by DOBSONLIGHT IT

        <q-space />
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
import headerNav from "components/Header";
export default {
  name: "MyLayout",
  components: {
    whatsappChat: () => import("components/WhatsAppChat")
  },

  components: {
    headerNav
  },
  data() {
    return {
      leftDrawerOpen: false
    };
  },
  methods: {}
};
</script>
