<template>
  <q-layout view="hHh LpR fff" class="bg-white">
    <header-nav />

    <q-drawer
      v-model="drawerLeft"
      show-if-above
      :breakpoint="700"
      :content-class="$q.screen.gt.sm ? 'q-pa-md bg-white' : 'bg-white'"
    >
      <q-card
        :bordered="$q.screen.gt.sm"
        :class="$q.screen.gt.sm ? '' : 'shadow-0'"
      >
        <q-list
          :padding="$q.screen.gt.sm"
          separator
          :class="$q.screen.gt.sm ? '' : 'q-pa-none'"
          class="rounded-borders"
        >
          <q-item-label header>Categories</q-item-label>
          <q-item
            clickable
            v-ripple
            v-for="(category, index) in categories"
            :key="index"
            :to="`/products/${category}`"
          >
            <q-item-section class="text-subtitle1">
              {{ category }}
            </q-item-section>
          </q-item>
        </q-list>
      </q-card>
    </q-drawer>
    <!--CATEGORIES:ABB, Cable, China, FSL, GE, Legrand, Osram, Philips, Sylvania -->
    <q-page-container>
      <div class="sub-menu" v-if="$q.screen.lt.md">
        <!-- -->
        <q-btn
          outline
          rounded
          no-caps
          color="primary"
          class="q-mx-xs shadow-2 bg-white"
          v-for="(category, index) in categories"
          :key="index"
          :to="`/products/${category}`"
        >
          {{ category }}</q-btn
        >
      </div>
      <router-view />
      <q-page-scroller
        position="bottom-right"
        :scroll-offset="150"
        :offset="[18, 18]"
      >
        <q-btn fab icon="keyboard_arrow_up" color="accent" />
      </q-page-scroller>
    </q-page-container>
    <q-footer>
      <q-toolbar>
        <q-space />
        <q-img src="statics/logo.png" style="width:50px"></q-img> Lighting your
        world in a whole new way
        <q-space />
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
import headerNav from "components/Header";
export default {
  name: "MyLayotext-centerut",
  components: {
    headerNav
  },
  data() {
    return {
      drawerLeft: false,
      categories: [
        "Osram",
        "VTAC",
        "Philips",
        "Sylvania",
        "ABB",
        "Cable",
        "China",
        "FSL",
        "GE",
        "Legrand"
      ]
    };
  },
  methods: {}
};
</script>
<style lang="scss" scoped>
.sub-menu {
  position: relative;
  height: 53px;
  padding: 5px;
  background: $grey-3;
  line-height: 42px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid $grey-4;
  margin-bottom: 5px;
  //   .channel-menu {
  //     height: 52px;
  //     background: $grey-3;
  //     padding: 5px;
  //     font-size: 14px;
  //     font-weight: 700;
  //     overflow-y: hidden;
  //     overflow-x: auto;
  //     position: relative;
  //     .list {
  //       position: relative;
  //       overflow-y: scroll;
  //       -webkit-overflow-scrolling: touch;
  //       width: auto;
  //       white-space: nowrap;
  //     }
  //   }
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: auto;
  white-space: nowrap;
}
</style>
