<template>
  <div class="row justify-center">
    <div class="col col-md"></div>
    <div class="col-xs-12 col-md-4 q-my-md">
      <q-card :flat="$q.screen.lt.md">
        <p class="text-center text-h5 text-weight-thin">
          Create A New Product
        </p>
        <q-card-section>
          <!-- form -->
          <create-new-product />
        </q-card-section>
      </q-card>
    </div>
    <div class="col col-md"></div>
  </div>
</template>
<script>
export default {
  components: {
    createNewProduct: () => import("components/CreateOrEditProduct")
  },
  data() {
    return {};
  }
};
</script>
